<button id="sidebar-toggle" aria-label="Open menu" class="sidebar-toggle">
    <span></span><span></span><span></span>
</button>
<aside class="sidebar" id="sidebar">
    <a href="/" class="nav-link"><div  class="identity">
        <h1>Ahmed Fakhreldin</h1>
        <p>Backend Developer & AI Enthusiast</p>
    </div>
</a>
    <nav class="nav-menu">
        <a href="../pages/home.html" class="nav-link">Home</a>
        <a href="../pages/projects.html" class="nav-link">Projects</a>
        <a href="../pages/info.html" class="nav-link">Info</a>
        <a href="../pages/contact.html" class="nav-link">Contact</a>
        <a href="https://aftechnotes.netlify.app/" class="nav-link">Tech Notes</a>
    </nav>
</aside>
